html,
body {
    padding: 0;
    margin: 0;
    background: #fefeff;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

header, section, footer {
    text-align: center;
}

#video {
    border: 2px solid lightgray;
    width: 92vw;
}

#sources {
    display: flex;
    flex-wrap: wrap;
}

#sources > div {
    flex: 1;
    text-align: center;
    margin: 5px;
}

#sources > div > img {
    border: 1px solid lightgray;
    border-radius: 7px;
}

button {
    cursor: pointer;
}

#video.rotated {
    transform: rotate(90deg);
    transform-origin: bottom center;
    width: 92vh;
}